@model Campaign.Models.CategoryCompaign

@{
    ViewData["Title"] = "Details";
    ViewData["Main"] = "Category";
}


<div class="col-sm-12 col-md-12 internal_page">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-eye"></i>  @ViewData["Title"]
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-md-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-md-3">
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>
                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>
            </dl>
            <div class="col-12 float-right d-block text-right">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn my_btn red_btn">Edit</a>
                    <a asp-action="Index" class="cancel btn">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>


